
<div class="container">
    <!-- As a link -->
  <nav class="navbar" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="#">Welcome to CRUD API RESTFULL WITH ANGULAR AND SYMFONY</a>
  </nav> 
  <div class="container-fluid">

    <div class="row">

      <div class="col-md-12">

        <div class="card">

          <div class="card-header">

            <h3 class="card-title">Liste des utilisateurs</h3>
          </div>
          <div class="card-body">
        
            <button class="btn btn-primary" (click)="create()">Ajouter un utilisateur <i class="fas fa-plus"></i></button>
            <p></p>
            <table id="example1" class="table table-bordered table-striped" >
                <thead>
                    <tr>
                        <th>id</th>
                        <th>firstname</th>
                        <th>lastname</th>
                        <th>created at</th>
                        <th>updated at</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{user.id}}</td>
                        <td>{{user.firstname}}</td>
                        <td>{{user.lastname}}</td>
                        <td>{{user.creationdate}}</td>
                        <td>{{user.updatedate}}</td>
                        <td>
                            <button class="btn btn-success" (click)="edit()">Modifier</button>
                            <button class="btn btn-danger" (click)="delete()">Supprimer</button>
                        </td>
                    </tr>
                </tbody>
             </table>
         </div>
        </div>
      </div>
    </div>
    </div>
</div>

  